body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.message {
    font-size: 1.5rem;
}

.message-container {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#WorkstationDiagram {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}